Flask==1.0.2
Flask_SQLAlchemy==2.3.2
python-twitter==3.4.1
newsapi-python==0.2.3
pyEX==0.1.0
validators
matplotlib==3.0.0
tqdm==4.26.0
gensim==3.6.0
scikit-learn==0.20.0
beautifulsoup4==4.6.3
nltk==3.3
keras==2.2.4
tensorflow
lxml==4.2.5