@font-face {
  font-family: 'GlacialIndifferenceRegular';
  src: url('fonts/GlacialIndifference-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'GlacialIndifferenceRegular', sans-serif;
  color: rgb(30,30,30);
  overflow-y: scroll;
}

a {
  text-decoration: none;
  color: rgba(30,30,30,0.6);
  transition: color 0.2s ease-in-out;
}

a:hover {
  color: rgb(30,30,30);
}

input, button, .button {
  border: none;
  border-radius: 0.125rem;
  padding: 0.25rem 0.5rem;
  font-family: inherit;
  white-space: nowrap;
  color: inherit;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out,
              box-shadow 0.2s ease-in-out;
}

input {
  background-color: rgba(12,12,13,0.07);
}

input:focus {
  background-color: rgba(12,12,13,0.15);
  box-shadow: inset 0 -0.15rem rgba(0,0,0,0.6);
}

input:invalid {
  box-shadow: inset 0 -0.15em red;
}

button, .button {
  background-color: rgba(12,12,13,0.15);
  font-size: 1rem;
}

input:hover, button:hover, .button:hover {
  background-color: rgba(12,12,13,0.2);
  color: inherit;
}

button:active, .button:active {
  background-color: rgba(12,12,13,0.3);
}

/*Header styles*/
header {
  position: sticky;
  top: 0;
  display: flex;
  height: 3.5rem;
  padding: 0 calc(50vw - 35rem + 2rem);
  font-size: 2rem;
  color: white;
  background: linear-gradient(45deg, rgb(47,186,204) 0%, rgb(73,214,181) 100%);
  justify-content: space-between;
  z-index: 50; /*Needed for Chrome quirk*/
}

header > a {
  color: rgb(255,255,255);
  margin: 0.4rem 0;
  transition: opacity 0.2s ease-in-out;
}

header > a:hover {
  color: rgb(255,255,255);
}

header > div {
  align-self: flex-end;
  padding: 1rem 0;
  transition: opacity 0.2s ease-in-out;
}

header > div > span {
  font-size: 1rem;
}

header > div > .button:active {
  background-color: rgb(255,255,255);
  color: rgb(30,30,30);
}

/*Footer styles*/
footer {
  height: 3.5rem;
  padding: 0 5rem;
  text-align: center;
  color: rgba(255,255,255,0.6);
  background: linear-gradient(45deg, rgb(47,186,204) 0%, rgb(73,214,181) 100%);
}

footer > a {
  color: rgba(255,255,255,0.6);
}

footer > a:hover {
  color: rgb(255,255,255);
}

/*Search box styles*/
.symbol-search > input, #active-search {
  width: 17rem;
  position: absolute;
  left: calc(50vw - 35rem + 8rem);
  top: 0.5rem;
}

.symbol-search > input {
  color: white;
  font-size: 1.5rem;
  transition: color 0.2s ease-in-out,
              background-color 0.2s ease-in-out,
              box-shadow 0.2s ease-in-out;
}

.symbol-search > input::-webkit-input-placeholder {
  color: rgba(255,255,255,0.8);
}

.symbol-search > input::placeholder {
  color: rgba(255,255,255,0.8);
}

.symbol-search > input:focus {
  background-color: rgb(255,255,255);
  color: rgb(30,30,30);
}

.symbol-search > input:focus::-webkit-input-placeholder {
  color: rgba(30,30,30,0.8);
}

.symbol-search > input:focus::placeholder {
  color: rgba(30,30,30,0.8);
}

#search-popup {
  position: fixed;
  top: 3.5rem;
  opacity: 0;
  height: calc(100vh - 3.5rem);
  width: 100%;
  box-sizing: border-box;
  background-color: white;
  font-size: 1.5rem;
  color: rgb(30,30,30);
  padding: 0 calc(50vw - 35rem + 2rem);
  transition: opacity 0.2s ease-in-out;
  visibility: hidden;
  z-index: 100;
  max-height: calc(100vh - 3.5rem);
  overflow-y: auto;
}

#search-suggestions {
  padding: 0;
  margin: 1rem 0 0 0;
}

#search-suggestions > li {
  list-style-type: none;
  box-shadow: inset 0 -0.1rem 0 0;
}

#search-suggestions > li:hover {
  background-color: #e3e3e3;
}

#search-suggestions:first-child {
  box-shadow: inset 0 0 0 0;
  margin-top: 0;
}

#search-suggestions > li > a {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  color: inherit;
}

#search-hint {
  display: flex;
  justify-content: center;
  height: 70vh;
  align-items: center;
}

#exit-search {
  position: absolute;
  top: 0.75rem;
  visibility: hidden;
}

/*Stock display styles*/
.stock-info {
  padding: 2rem 0;
}

.company {
  font-size: 1.75rem;
}

.symbol {
  font-size: 1.5rem;
  margin-top: -0.5rem;
}

.exchange {
  display: block;
  font-size: 0.75rem;
}

.value {
  font-size: 3rem;
}

.currency {
  font-size: 1rem;
}

.delta {
  font-size: 2rem;
  margin-top: -0.5rem;
}

.percentage {
  font-size: 2rem;
  margin-top: -0.5rem;
}

.gain {
  color: rgb(0,196,107);
}

.loss {
  color: rgb(245,10,33);
}

/*Graph styles*/
.chart {
  text-align: center;
  max-width: 35rem;
}

/*News display styles*/
.article {
  box-shadow: inset 0 0 0 0.07rem #e8eef1;
  padding: 0.1rem 1rem;
  border-radius: 0.3rem;
  margin-bottom: 0.7rem;
  max-width: 35rem;
}

.headline {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 1rem 0;
  color: rgb(30,30,30);
}

.headline:hover {
  color: rgba(30,30,30,0.6);
}

.source {
  display: block;
  margin-top: -1rem;
  font-size: 0.75rem;
}

/*Tweet styles*/
.positive {
  box-shadow: 0 0 0 0.2rem rgb(0,196,107);
}

.negative {
  box-shadow: 0 0 0 0.2rem rgb(245,10,33);
}

/*Login and register related styles*/
.content > form {
  display: grid;
  grid-template-columns: 20rem 1fr;
  grid-gap: 0.2rem;
  justify-items: end;
}

.status {
  justify-self: start;
}

/*Dashboard related styles*/
.message {
  background-color: rgb(0,255,255);
  text-align: center;
  padding: 1rem;
}

.feed {
  max-height: 30rem;
  overflow-y: auto;
  margin-bottom: 3rem;
}

/*Social button styles*/

.social {
  display: flex;
  margin-top: 1rem;
}

.fb-share-button {
  margin-left: 0.5rem;
}

/*Layout related styles*/
.container {
  display: flex;
  flex-wrap: wrap;
  min-height: calc(100vh - 7rem);
  flex-direction: column;
  padding: 0 calc(50vw - 35rem + 2rem);
}

.row {
  display: flex;
}

.column {
  flex: 1;
  padding: 0.5rem;
  overflow: auto;
}

@media (max-width: 70em ) {
  header {
    padding: 0 2rem;
  }

  .symbol-search > input, #active-search {
    left: 8rem;
  }

  #search-popup {
    padding: 0 2rem;
  }

  .container {
    padding: 0 2rem;
  }

  .content {
    padding: 0.5rem 2rem;
  }
}

@media (max-width: 60em ) {
  .row {
    flex-direction: column;
  }

  .column {
    flex: unset;
  }

  .feed {
    max-height: unset;
  }
}

@media (max-width: 40em ) {
  header {
    height: 7rem;
  }

  .symbol-search > input, #active-search {
    width: calc(100vw - 12rem);
  }

  .container {
    min-height: calc(100vh - 10.5rem);
  }
}
