{% extends 'base.html' %}

{% block title %}Sources{% endblock %}

{% block header %}{% include 'header.html' %}
{% endblock %}

{% block body_contents %}
    <div class=content>
        <h1>About</h1>
        <p>This website is a group project for COMP4920 2018s2 at UNSW.</p>
        <p>Team Members:</p>
        <ul>
            <li>Peter Wang / z5063199</li>
            <li>Luke Yuan / z5042615</li>
            <li>Patrick Ngo / z5014774</li>
            <li>Qifu Lu / z5084353</li>
            <li>Winson Wen / z5116007</li>
        </ul>
        <p><a href="https://www.cse.unsw.edu.au/~cs4920/">Project description can be found at UNSW COMP4920</a></p>
    </div>{% endblock %}
