<!DOCTYPE html>
<html lang="en">
<head>
  <link href="{{ url_for('static', filename='style.css') }}") rel="stylesheet">
  {% block head %}{% endblock %}
  <title>{% block title %}{% endblock %} - fetch</title>
  <script type="text/javascript">var root = {{ request.script_root|tojson|safe }};</script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/loading.js') }}"></script>
</head>
<body>
{% block header %}{% endblock %}
  <div class="container">
{% block body_contents %}{% endblock %}
  </div>
{% include 'footer.html' %}
	<script type="text/javascript">
		initStockLinks();
	</script>
</body>
</html>
