  <header>
    <a href="/">fetch</a>
    <form action="{{ url_for('index') }}" class="symbol-search">
      <input autocomplete="off" id="stock" name="stock" placeholder="Search" type="search">
    </form>
    <div>
{% if this_uname != None %}
      <span><a href="{{ url_for('account') }}" style="color: white;">{{ this_uname }}</a></span>
      <a href="{{ url_for('logout') }}" class="button">Log out</a>
{% else %}
      <a href="{{ url_for('login') }}" class="button">Login</a>
      <a href="{{ url_for('register') }}" class="button">Register</a>
{% endif %}
    </div>
    <button id="exit-search">Close</button>
  </header>
  <div id="search-popup">
    <ul id="search-suggestions"></ul>
{% if recents != None %}
    <h5 id="recent-title">Recently viewed stocks</h5>
    <ul id="recent-stocks">
{% for stock in recents %}
      <li>
        <a href="{{ url_for('stock', stockname=stock) }}" stock="{{ stock }}" name="{{ symbolToName(stock) }}" stock-link="pending">
          <span>{{ stock }}</span>
          <span>{{ symbolToName(stock) }}</span>
        </a>
      </li>
{% endfor %}
    </ul>
    <span id="search-hint">Start typing a stock name or symbol, or select a recently viewed stock</span>
{% else %}
    <span id="search-hint">Start typing a stock name or symbol</span>
{% endif %}
  </div>
  <script async src="{{ url_for('static', filename='js/search.js') }}"></script>
