  <header>
    <a href="/">fetch</a>
    <form name="myStockForm" method="POST" action="{{ url_for("index") }}" class="symbol-search">
      <input autocomplete="off" id="stock" placeholder="Search" type="text">
    </form>
    <div>
{% if this_uname == None %}
      <a href="{{ url_for('login') }}" class="button">Login</a>
      <a href="{{ url_for('register') }}" class="button">Register</a>
{% else %}
      <span>Welcome, {{ this_uname }}</span>
      <a href="{{ url_for('logout') }}" class="button">Log out</a>
{% endif %}
    </div>
  </header>
