{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block header %}{% include 'header.html' %}
{% endblock %}

{% block body_contents %}
{% if msg != None %}
    <span class="message">{{ msg }}</span>
{% endif %}
    <h2>Logged in home page placeholder</h2>
{% if favs != None %}
    <h5 id="recent-title">Pinned stocks</h5>
    <ul id="recent-stocks">
{% for stock in favs %}
      <li>
        <a href="{{ url_for('stock', stockname=stock) }}" stock="{{ stock }}" name="{{ symbolToName(stock) }}">
          <span>{{ stock }}</span>
          <span>{{ symbolToName(stock) }}</span>
        </a>
      </li>
{% endfor %}
    </ul>
{% endif %}
      {% endblock %}
