{% extends "base.html" %}

{% block head %}<link href="{{url_for('static', filename='home.css')}}") rel="stylesheet">{% endblock %}

{% block title %}Home{% endblock %}

{% block body_contents %}
    <div class=vert-container>
      <h1>fetch</h1>
      <h2>Start my stock market adventure</h2>
      <form name="myStockForm" method="POST" action="" class="symbol-search">
        {{ thisform.stock }}
        <button type="submit">Go fetch!</button><br><br>
          <input type="button" value="Login" onclick="loginUrl()"/>
           <input type="button" value="Register" onclick="registerUrl()"/>

      </form>

<script type="text/javascript">
    function loginUrl() {
        location.href = "{{ url_for('login') }}";
    }
    function registerUrl() {
        location.href = "{{ url_for('register') }}";
    }
</script>
    </div>{% endblock %}
