{% extends "base.html" %}

{% block head %}<link href="{{url_for('static', filename='home.css')}}") rel="stylesheet">{% endblock %}

{% block title %}Fetching{% endblock %}

{% block body_contents %}
    <div class=vert-container>
      <h1>We are fetching {{ stockname }} for you !</h1>
       <h3>It should take a while</h3>
        <div>
            <img src="/static/loading1.svg" alt="loading" style="width: 100px; height: 100px;">
        </div>
    </div>
        <script language="javascript" type="text/javascript">
             window.location="{{ url_for('stock',stockname=stockname) }}";
        </script>
{% endblock %}
