{% extends 'base.html' %}

{% block head %}<link href="{{ url_for('static', filename='home.css') }}") rel="stylesheet">{% endblock %}

{% block title %}Fetching{% endblock %}

{% block body_contents %}
    <div class=vert-container>
      <h1>We are fetching {{ stockname }} for you</h1>
       <h3>Shouldn't be long</h3>
        <div>
          <img src="{{ url_for('static', filename='loading1.svg') }}" alt="loading" height=100 width=100>
        </div>
    </div>
      <script language="javascript" type="text/javascript">
        window.location="{{ url_for('stock', stockname=stockname) }}";
      </script>
{% endblock %}
