{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block header %}{% include 'header.html' %}
{% endblock %}

{% block body_contents %}
{% if info != None %}
    <span class="message">{{ info }}</span>
{% endif %}
    <div class="content">
      <h1>Login</h1>
      <form method="POST" action="{{ url_for('login') }}" >
        <div>
          <label for="user_email">Email</label>
          <input id="user_email" name="user_email" type="email">
        </div>
        <span id="email_status" class="status"></span>
        <div>
          <label for="user_pass">Password</label>
          <input id="user_pass" name="user_pass" type="password">
        </div>
        <span id="password_status" class="status"></span>
        <button type="submit">Login</button>
      </form>
    </div>{% endblock %}
