{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block header %}{% include 'header.html' %}
{% endblock %}

{% block body_contents %}
    <div class="content">
      <h1>Login</h1>
{% if info != None %}
      <span class="info">{{ info }}</span>
{% endif %}
      <form name="myLoginForm" method="POST" action="" >
        <div>
          {{ thisform.user_email.label }}
          {{ thisform.user_email }}
        </div>
        <span id="email_status" class="status"></span>
        <div>
          {{ thisform.user_pass.label }}
          {{ thisform.user_pass }}
        </div>
        <span id="password_status" class="status"></span>
        <button type="submit">Login</button>
      </form>
    </div>{% endblock %}
