<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Register</title>
</head>
<body>
  <h1>This is register in page</h1>

  <form name='myStickerForm' method="POST" action="" >
    {{ thisform.username.label }} {{ thisform.username }}<br>
    {{ thisform.email.label }} {{ thisform.email }}<br>
    {{ thisform.password.label }} {{ thisform.password }}<br>
    {{ thisform.confirm.label }} {{ thisform.confirm }}<br>
    <button type="submit">Register!</button>

  </form>

</body>
</html>
