<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Register</title>
</head>
<body>
  <h1>This is register  page</h1>
  <form name="myRegistrationForm" method="POST" action="" >
{% if info != None %}
    <h1>{{ info }}</h1>
{% endif %}
    {{ thisform.firstname.label }} {{ thisform.firstname }}<span class='fname_status'></span><br>
    {{ thisform.lastname.label }} {{ thisform.lastname }}<span class='lname_status'></span><br>
    {{ thisform.user_pass.label }} {{ thisform.user_pass }}<span class='pass_status'></span><br>
    {{ thisform.confirm.label }} {{ thisform.confirm }}<span class='confirm_status'></span><br>
    {{ thisform.email.label }} {{ thisform.email }}<span class='email_status'></span><br>
    {{ thisform.verification.label }} {{ thisform.verification }}<input type="button" disabled="true" id="btn_code" value="Get your verification code"\"/><br>
    <button type="submit">Register!</button>
    <input type="button" value="Login" onclick="loginUrl()"/>
  </form>




  <script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.3.1.min.js')}}"></script>
  <script>
      var emailchecked = false;
      var fnamechecked = false;
      var lnamechecked = false;
      var passchecked = false;
      var cpasschecked = false;

      $("#email").blur(function(){
       email= document.getElementById("email").value;  
        if(Object.keys(email).length > 0) {
            $.ajax({
                type: 'get',
                url: '{{ url_for('verify_email') }}',
                data: {this_email: email},
                dataType: 'json',
                success: function (data) {
                    if (data.eval == 1) {
                        $('.email_status').html(data.msg);
                        $("#btn_code").attr('disabled',false);
                        emailchecked = true;
                    } else {
                        $('.email_status').html(data.msg);
                        emailchecked = false;
                        $("#btn_code").attr('disabled',true);
                    }
                }
            });
        }else{
            $('.email_status').html("Please input your email address");
        }
}) 
      $("#firstname").blur(function(){
       var firstname= document.getElementById("firstname").value;
       if(Object.keys(firstname).length > 0){
           $('.fname_status').html("Passed!");
           fnamechecked = true;
       }else{
            $('.fname_status').html("Please input your First name");
            fnamechecked = false;
       } }) 

      $("#lastname").blur(function(){
       var lastname= document.getElementById("lastname").value;
       if(Object.keys(lastname).length > 0){
           $('.lname_status').html("Passed!");
           lnamechecked = true;
       }else{
            $('.lname_status').html("Please input your Last name");
            lnamechecked = false;
       } }) 

      $("#user_pass").blur(function(){
       var password= document.getElementById("user_pass").value;
       if(Object.keys(password).length > 0){
           if( 6<= Object.keys(password).length){
               if(Object.keys(password).length>11){
                   $('.pass_status').html("Your password is too long");
                   passchecked = false;
               }else{
                   $('.pass_status').html("This password could be used");
                    passchecked = true;
               }
           }else{
               $('.pass_status').html("Your password is too short");
                passchecked = false;
           }
       }else{
            $('.pass_status').html("Length of password should be 6-11 characters");
             passchecked = false;
       } }) 

      $("#confirm").blur(function(){
       var cpassword= document.getElementById("confirm").value;
       var password= document.getElementById("user_pass").value;
       if(Object.keys(cpassword).length>0){
           if(cpassword==password){
                $('.confirm_status').html("");
                cpasschecked = true;
           }else{
                $('.confirm_status').html("This doesn't match your original password");
                cpasschecked = false;
           }
       }else{
            $('.confirm_status').html(" ");
            cpasschecked = false;
        }
      })
        


        $("#btn_code").click(function(){
            email = document.getElementById("email").value
              $.ajax({
              type: 'get',
              url: '{{ url_for('send_vcode') }}',
              data: {this_email: email,},
              dataType: 'json',
              success: function (data) {
                  var wait = 60;
                  time()
                  function time() {
                      if (wait == 0){
                          $("#btn_code").val('Get your verification code');
                          $("#btn_code").attr('disabled',false);
                          wait = 60;
                      }else{
                          $("#btn_code").attr('disabled', true);
                          $("#btn_code").val('Resend after ' + wait + 's');
                          wait--;
                          setTimeout(function () {time()
                          },1000)
                      }
                  }
              },
          });
 })   
</script>

  <script type="text/javascript">
    function loginUrl() {
        location.href = "{{ url_for('login') }}";
    }
  </script>


</body>
</html>
