{% extends 'base.html' %}

{% block title %}Sources{% endblock %}

{% block header %}{% include 'header.html' %}
{% endblock %}

{% block body_contents %}
    <div class=content>
      <h1>Sources</h1>
      <p>Data provided for free by <a href="https://iextrading.com/developer">IEX</a>. View <a href="https://iextrading.com/api-exhibit-a/">IEX’s Terms of Use</a>.</p>
      <p><a href="https://www.behance.net/gallery/25908595/Glacial-Indifference-Open-Source-Typeface">Glacial Indifference</a> typeface by <a href="https://www.behance.net/pradil">Alfredo Marco Pradil</a></p>
    </div>{% endblock %}
