{% extends "base.html" %}

{% block title %}{{ stock_ticker }} - {{ stock_name }}{% endblock %}

{% block header %}{% include 'header.html' %}
{% endblock %}

{% block body_contents %}
		<div class=column>
			<div class=name><h1>{{ stock_name }}</h1>
			<h2>{{ stock_ticker }}</h2></div>
			<h1>${{ stock_value }}</h1>
			<span>{{ stock_change }}%</span>
		</div>
		<div class=column>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam facilisis rhoncus ornare. In pellentesque faucibus quam, et tempor erat accumsan a. Vivamus ipsum nulla, tempus ac viverra et, pulvinar at lorem. Proin sit amet venenatis tortor. Ut vulputate scelerisque libero, sed ornare nibh euismod a. Donec pretium vitae elit porttitor pharetra. Nullam pulvinar augue eu justo ultricies semper. Fusce elementum semper mi et dictum.
		</div>{% endblock %}
