{% extends "base.html" %}

{% block title %}{{ tickerInfo.companyDetails.symbol }} {{ "$%.2f"|format(tickerInfo.currentPrice)}} - {{ tickerInfo.companyDetails.companyName }}{% endblock %}

{% block header %}{% include 'header.html' %}
      <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
{% endblock %}

{% block body_contents %}
    <div class=row>
      <div class="stock-info column">
        <span class="company">{{ tickerInfo.companyDetails.companyName }}</span>
        <span class="symbol">({{ tickerInfo.companyDetails.symbol }})</span>
        <span class="exchange">{{ tickerInfo.companyDetails.exchange }}</span>
        <span class="value">{{ "%.2f"|format(tickerInfo.currentPrice)}}</span>
        <span class=currency>USD</span>
        <span class="delta {{ diff }}">{{ delta }}</span>
        <span class="percentage {{ diff }}">({{ "%.2f%%"|format(percentage)}})</span>
        <div>
          <span class="opening-value">Opened: {{ "$%.2f"|format(tickerInfo.open.price)}}</span>
{% if tickerInfo.live == true %}
          <span> - Currently live and trading</span>
{% else %}
          <span>Closed: {{ "$%.2f"|format(tickerInfo.close.price)}}</span>
{% endif %}
        </div>
      </div>
{#      <div class="graph column">#}
{#        <img src="/static/graph/{{ graph }}.png">#}
{#      </div>#}
      <div class="graph column">
        <canvas id="chart" width="600" height="400"></canvas>
        <script>

          // bar chart data
          var barData = {
            labels : [
              {% for item in labels %}
                "{{ item }}",
              {% endfor %}
            ],
            datasets : [{
              fillColor: "rgba(151,187,205,0.2)",
              strokeColor: "rgba(151,187,205,1)",
              pointColor: "rgba(151,187,205,1)",
              pointStrokeColor: "#fff",
              pointHighlightFill: "#fff",
              pointHighlightStroke: "rgba(151,187,205,1)",
              bezierCurve : false,
              data : [
            {% for item in values %}
                  {{ item }},
                {% endfor %}]
              }
            ]
          }
          Chart.defaults.global.animationSteps = 50;
          Chart.defaults.global.tooltipYPadding = 16;
          Chart.defaults.global.tooltipCornerRadius = 0;
          Chart.defaults.global.tooltipTitleFontStyle = "normal";
          Chart.defaults.global.tooltipFillColor = "rgba(0,0,0,0.8)";
          Chart.defaults.global.animationEasing = "easeOutBounce";
          Chart.defaults.global.responsive = false;
          Chart.defaults.global.scaleLineColor = "black";
          Chart.defaults.global.scaleFontSize = 16;
          // get bar chart canvas
          var mychart = document.getElementById("chart").getContext("2d");
          steps = 10
          max = {{ max }}
          // draw bar chart
          var LineChartDemo = new Chart(mychart).Line(barData, {
            scaleOverride: true,
            scaleSteps: steps,
            scaleStepWidth: Math.ceil(max / steps),
            scaleStartValue: 0,
            scaleShowVerticalLines: true,
            scaleShowGridLines : true,
            barShowStroke : true,
            scaleShowLabels: true,
            bezierCurve: false,
          });
        </script>
      </div>
    </div>
    <div class="row">
      <div class="graph column">
{% for newsItem in tickerNews %}
        <div class="article">
          <h3><a href="{{ newsItem.url }}" >{{ newsItem.headline }}</a></h3>
          <span class="source">{{ newsItem.source }} <time datetime="{{ newsItem.datetime }}">{{ newsItem.datetime }}</time></span>
          <p>{{ newsItem.summary }}</p>
        </div>
{% endfor %}
      </div>

      <div class="graph column twitter">
{% for tweet in twitter %}
  {% if tweet.urls[0] %}
        <div>
            {{ twitterEmbed(tweet.id, tweet.urls[0].url).html | safe}}
        </div>
  {%  endif %}
{% endfor %}
      </div>
    </div>{% endblock %}
