{% extends "base.html" %}

{% block title %}{{ stock_ticker }} - {{ stock_name }}{% endblock %}

{% block header %}{% include 'header.html' %}
{% endblock %}

{% block body_contents %}
		<div class=column>
			<div class=name>
                <p style="margin-bottom: -12px;">{{ tickerInfo.companyDetails.symbol }} </p>
				<h1>{{ tickerInfo.companyDetails.companyName }}</h1>
                <p style="margin-top: -12px;">Exchange: {{ tickerInfo.companyDetails.exchange }}</p>
			</div>
            <h3 style="margin-bottom: -24px;">Price: </h3>
			<h1>{{ "$%.2f"|format(tickerInfo.currentPrice)}}</h1>
            <span>Opened: {{ "$%.2f"|format(tickerInfo.open.price)}}</span>
            {% if tickerInfo.live == true %}
                <p> - Currently Live and Trading</p>
            {% else %}
                <span>Closed: {{ "$%.2f"|format(tickerInfo.close.price)}}</span>
            {% endif %}
			<div class=graph>
{#				<img src="/static/img/temp.png">#}
			</div>
		</div>
		<div class="column feed">
			<div class=graph>
				Twitter placeholder
			</div>
			<div class=graph>
				News placeholder
			</div>
            <table style="width:100%">
            {% for newsItem in tickerNews %}
                <tr>
{#                <td>#}
{#                    <img src="{{ newsItem.image }}"/>#}
{#                </td>#}
                    <td>
                        <div>
                            <h3>{{ newsItem.source }}</h3>
                            <a href="{{ newsItem.url }}" ><h1>{{ newsItem.headline }}</h1></a>
                            <h2>{{ newsItem.summary }}</h2>
                            <p>{{ newsItem.datetime }}</p>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </table>
            <div>
                <h1>Twitter</h1>
            <table>
                {% for tweet in twitter %}
                    <tr>
                        <td style="width: 40%;">
                            <img src="{{ tweet.user.profile_image_url_https }}"/>
                            <a href="{{ tweet.user.url }}" ><p>@{{ tweet.user.screen_name }}</p></a>
                            <p>{{ tweet.user.name }}</p>
                            <p>{{ tweet.user.location }}</p>
                            <p>{{ tweet.user.description }}</p>
                        </td>
                        <td style="width: 60%;">
                            <div>
                                <p>{{ tweet.text }}</p>
                                <p>{{ tweet.created_at }}</p>
                                <p>Favourited: {{ tweet.favorite_count }} Retweeted: {{ tweet.retweet_count }}</p>
                                <a href="{{ tweet.urls.url }}"><p>View Online</p></a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            </div>
		</div>
{% endblock %}
